@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@500&family=Sen&family=Sora:wght@600;700&family=Work+Sans:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: #F4F6F8;
}

.container{
  width: 86.11%;
  margin: 0 auto;
}

.logo{
  display: flex;
  align-items: center;
  padding: .62rem;
}
.logo h4{
  margin-left: .5rem;
  color:  #100A42;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 769px){
  button{
    font-size: 1rem;
  }

}

